S3method(print,ngram)
export(corpuses)
export(ggram)
export(hacker)
export(ngram)
export(ngrami)
export(ngramw)
export(theme_google)
import(RCurl)
import(ggplot2)
import(httr)
import(plyr)
import(reshape2)
import(rjson)
import(scales)
import(stringr)
